@font-face {
  font-family: "Almarai";
  font-weight: 100;
  src: url("./Montesrat/Montserrat-Thin.ttf");
}
@font-face {
  font-family: "Almarai";
  font-weight: 200;
  src: url("./Montesrat/Montserrat-Light.ttf");
}
@font-face {
  font-family: "Almarai";
  font-weight: 300;
  src: url("./Montesrat/Montserrat-Light.ttf");
}
@font-face {
  font-family: "Almarai";
  font-weight: 400;
  src: url("./Montesrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Almarai";
  font-weight: 500;
  src: url("./Montesrat/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Almarai";
  font-weight: 600;
  src: url("./Montesrat/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Almarai";
  font-weight: 700;
  src: url("./Montesrat/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Almarai";
  font-weight: 800;
  src: url("./Montesrat/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-family: "Almarai";
  font-weight: 900;
  src: url("./Montesrat/Montserrat-ExtraBold.ttf");
}

@font-face {
  font-family: "Cinzel";
  src: url("./Cinzel/Cinzel-VariableFont_wght.ttf");
}
